.yui3-widget-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: normal;
    opacity:0.9;
    z-index:1000;
    padding: 4px 10px 8px;
    margin: 10px;
    background: black;
    color: white;
    font-size:80%;
    max-width:200px;

}

.yui3-widget-inner {
    width:100%;
    text-align:center;  

}

.yui3-widget-pointer-up, 
.yui3-widget-pointer-down, 
.yui3-widget-pointer-right,
.yui3-widget-pointer-left {
    width: 0;
    height: 0;
}

.yui3-widget-pointer-up {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    bottom: 0;
    top: 0 !important;
    left: 50%;
    margin-left: -5px;
}

.yui3-widget-pointer-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    top: 0;
    left: 50%;
    margin-left: -5px;
}

.yui3-widget-pointer-right {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
    top: 50%;
    left: 0;
    margin-left: -5px;
    margin-top:-3px;
}

.yui3-widget-pointer-left {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right:5px solid black;
    right: 0;
    top: 50%;
    margin-right: -5px;
    margin-top: -3px;
}

.yui3-widget-fade {
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -ms-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.yui3-widget-fade.yui3-widget-in {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
